{% extends 'base.html.twig' %}

{% block body %}
 <img src="{{ ('https://th.bing.com/th/id/OIP.yC1PHrhq_EaqVm8NbL7YgAHaE8?rs=1&pid=ImgDetMain') }}" alt="Logo">
 <h1>built with <i class="fas fa-heart"></i> by your_name </h1>
 <a href="{{ path('app_pages') }}">Page home</a>
{% endblock %}