{% extends 'base.html.twig' %}

{% block title %}Modifier Note{% endblock %}

{% block body %}
    <h1>Modifier votre note</h1>

    {{ form_start(form) }}
        {{ form_row(form.content) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
