{% extends 'base.html.twig' %}

{% block body %}
  
  <img src="{{ ('https://th.bing.com/th/id/OIP.lWYJ6rw2umFk0I3npOhrlQHaEK?w=287&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7') }}" alt="Logo">
   <h1>Hello from Tunisia</h1>
  <h1> it's currently{{'now'| date('h:i A')}}</h1>
  <a href="{{ path('app_about') }}">Page about</a>
{% endblock %}